.item {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(54, 54, 54);   
    list-style: none;
    font-family: 'Roboto', sans-serif; 
}
.item__row {
    display: flex;
    margin-bottom: 15px;
}
.item__row:last-child {
    margin-bottom: 0;
}
.item__fields {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}
.item__key {
    font-size: 22px;
    color: rgb(255, 103, 48);
}
.item__data {
    font-size: 22px;
    color: rgb(39, 185, 39);
}